.body {
  background-color: #FAFAFA;
}

.header {
  background-color: #FFF;
  border-bottom: 1px solid #DBDBDB;
}

.header__container {
  display: flex;
  max-width: 933px;
  margin: 0 auto;
}

.current-user {
  margin-left: auto;
  padding: 15px 0 16px;
  display: flex;
  align-items: center;
}

.current-user__username {
  color: #262626;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 12px;
}

.current-user__avatar {
  height: 22px;
  width: 22px;
  background-color: #DBDBDB;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
